.navbar #myMenu .custom-nav .nav-item .selected{
    color:aqua;
}

.navbar #myMenu .custom-nav #navbarDropdown .dropdown-menu .nav-item .selected{
    color:rgb(53, 12, 235);
}

.navbar {
    background:#203bd0;
}

.navbar #myMenu .custom-nav .nav-item .nav-link {
    color: #fff;
  }
  .navbar #myMenu .custom-nav .nav-item .nav-link:hover{
    color:chartreuse;
  }